{% extends 'main/base.html' %}
{% load staticfiles %}


{% block title %}About{% endblock %}
{% block links %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'home:index' %}">Home <i class="fa fa-home"></i></a></li>
        <li class="active"><a href="{% url 'home:about' %}">About <i class="fa fa-star"></i></a></li>
    </ul>
{% endblock %}

{% block image %}{% static 'main/images/sweden5.jpg' %}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <img src="{% static 'main/images/uphoros_logo_blue.png' %}"/>

        <p>Optimizing relationships between individuals and mental health professionals to conquer mental
            illness.</p>
    </div>
    <br/>

    <div class="container-fluid col-md-8">
        <div class="card">
            <div class="container-fluid">
                <h1 class="page-header orange-header">The <img class="about_logo" src="{% static 'main/images/uphoros_logo_blue.png' %}"/> vision</h1>

                <p>
                    In the summer of 2014, <b>Üphoros</b> (originally MoodGraph) began as an idea to reinvent the mood tracking application on web
                    and mobile, but ultimately that idea evolved into something much more useful. <b>Üphoros</b> now
                    represents the utilization of technology in an effort to better the lives of those afflicted with
                    mental and emotional disorders. By encouraging individuals to analyze their mood on a daily basis,
                    <b>Üphoros</b> increases overall self-awareness; however, the real strength of our application resides in
                    its ability to connect individuals with their support system in an efficient, instantaneous, and
                    secure way.
                </p>

                <h1 class="page-header orange-header">Why <img class="about_logo" src="{% static 'main/images/uphoros_logo_blue.png' %}"/> matters</h1>

                <p>
                    Mental health is one of the biggest societal and medical challenges the world is facing and will
                    continue to face in the foreseeable future. One in ten Americans will be depressed at some point in
                    their lives, and this number is on the raise. Bipolar disorder affects a large number of Americans
                    as well, with approximately 5.7 million currently diagnosed. In 2013 alone there were approximately
                    41,000 suicides, many of them attributable at least in part to a mental or emotional disorder of
                    some kind. At <b>Üphoros</b> we find these numbers unacceptable, and our primary goal is to reduce the
                    number of deaths and hospital visits related to untreated and poorly treated mood disorders.
                    <br/><br/>
                    <b>Üphoros</b> works to solve the fundamental problem faced in treatment of mood disorders: the problem
                    of communicating emotions effectively. This problem is not easily solved, but the current system
                    of going days, weeks, or months at a time between therapy sessions without any communication of
                    emotional state simply doesn't work. Emotional memory is fairly short-term, and perceptions of
                    memories are affected by mood. Unfortunately, this results in patients misremembering information
                    that could potentially be critical to effective treatment of their mental illness. Also, many times
                    that an individual should reach out for help, they feel too depressed to do so. A passive way to ask
                    for help could resolve this. Can a web application entirely fix these problems? Probably not, but it
                    can certainly provide a foundation to be built upon by more proactive, focused treatment methods.
                </p>

                <h1 class="page-header orange-header">How <img class="about_logo" src="{% static 'main/images/uphoros_logo_blue.png' %}"/> works</h1>
                <p>
                    <b>Üphoros</b> increases efficiency in the treatment of mood disorders by providing a full-featured
                    technology platform for mental health. This platform provides services for tracking mental health
                    data, visualizing that data, and subsequently sharing that information constantly and
                    instantaneously with family members, friends, therapists, or anyone else involved in an individual's
                    treatment. In addition to the mood tracking and visualization services, <b>Üphoros</b> also automatically
                    notifies an individual's support network when he or she feels unsafe, allowing intervention
                    before the individual can harm themselves or others. However, <b>Üphoros</b> is always changing, and if
                    you have an idea that could help you or someone you know in their struggle with mental illness, feel
                    free to contact me by email at acp2142@gmail.com
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid col-md-4">
        <div class="card">
            <div class="container-fluid">
                <h1 class="page-header orange-header">Team</h1>

                <div>
                    <div class="card-user">

                        <div class="image">


                        </div>

                        <div class="content">

                            <div class="author">

                                <a href="#">

                                    <img class="avatar" src="{% static 'main/assets/img/faces/austin.jpg' %}"
                                         alt="..."/>


                                    <h4 class="title">Austin Prete<br/>

                                        <small>Founder</small>
                                        <br/>
                                        <small>Programmer</small>
                                        <br/>
                                        <small>Designer</small>

                                    </h4>

                                </a>

                            </div>

                            <p class="description text-center">

                                <i class="fa fa-map-marker text-muted"></i> Salt Lake City, UT <br>

                                <i class="fa fa-envelope-o text-muted"></i> acp2142@gmail.com <br>

                                <i class="fa fa-clock-o text-muted"></i> Since June 2014

                            </p>

                        </div>

                        <hr>

                        <div class="text-center">

                            <button href="#" class="btn btn-social btn-simple"><i
                                    class="fa fa-facebook-square"></i>
                            </button>

                            <button href="#" class="btn btn-social btn-simple"><i
                                    class="fa fa-twitter"></i>
                            </button>

                            <button href="#" class="btn btn-social btn-simple"><i
                                    class="fa fa-google-plus-square"></i>
                            </button>


                        </div>

                    </div>
                    <!-- end card -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}