{% extends 'main/base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}
{% block home_link %}active{% endblock %}

{% block image %}{% static 'main/images/sweden1.jpg' %}{% endblock %}

{% block content %}
    <div class="card col-md-6">
        <div class="container-fluid">
            {% block welcome %}
                <h1 class="page-header orange-header">Welcome
                    {% if user.first_name != "" %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}!</h1>
            {% endblock %}

            <div class="container-fluid card">
                <h2 class="text-center page-header" style="color:#9c9c9c; font-weight:200">
                    News
                </h2>
                <ul>
                    <li>Public access to the beta will begin on February 1, 2015.</li>
                    <li>First official release is scheduled for May 1, 2015.</li>
                </ul>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}