{% extends 'main/base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block image %}{% static 'main/images/sweden1.jpg' %}{% endblock %}

{% block links %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'home:index' %}">Home <i class="fa fa-home"></i></a></li>
        <li><a href="{% url 'home:about' %}">About <i class="fa fa-star"></i></a></li>
    </ul>   {% endblock %}

{% block content %}
    <div class="jumbotron">
        <img src="{% static 'main/images/uphoros_logo_blue.png' %}"/>

        <p>Optimizing relationships between individuals and mental health professionals to conquer mental
            illness.</p>
    </div>

    <div class="col-md-6 container-fluid card">
        <h1 class="page-header orange-header">Login</h1>

        <form action="{% url 'accounts:submit' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username" class="form-control"/>
            <br/>
            <input type="password" placeholder="Password" name="password" class="form-control"/>
            <br/>
            <input type="submit" value="Login" class="btn btn-info" class="form-control"/>
        </form>
        <br/>

        <p><a href="{% url 'accounts:login' %}"> Click here to create a new account.<a/></p>

        <h2 class="text-center page-header" style="color:#9c9c9c; font-weight:200">
            News
        </h2>
        <ul>
            <li>Public access to the beta will begin on April 1, 2015.</li>
            <li>First official release is scheduled for June 1, 2015.</li>
        </ul>
        <br/>
    </div>
{% endblock %}