{% extends 'main/base.html' %}

{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block links %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'home:index' %}">Home <i class="fa fa-home"></i></a></li>
        <li><a href="{% url 'home:about' %}">About <i class="fa fa-star"></i></a></li>
    </ul>
{% endblock %}

{% block image %}{% static 'main/images/sweden2.jpg' %}{% endblock %}

{% block content %}
    <div class="card container-fluid col-md-12">
        {% if message %}
            <br/>
            <div class="alert alert-danger">
                <div class="container">
                    <b>{{ message }}</b>
                </div>
            </div>
        {% endif %}
        <h1 class="page-header orange-header">Login</h1>

        <form action="{% url 'accounts:submit' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username" class="form-control"/>
            <br/>
            <input type="password" placeholder="Password" name="password" class="form-control"/>
            <br/>
            <input type="submit" value="Login" class="btn btn-info" class="form-control"/>
        </form>
        <h1 class="page-header orange-header">Create a new account</h1>

        <form action="{% url 'accounts:create' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Username" class="form-control" name="username"/>
            <br/>
            <input type="email" placeholder="Email" class="form-control" name="email"/>
            <br/>
            <input type="password" placeholder="Password" class="form-control" name="password"/>
            <br/>
            <span>Are you creating an account primarily to support one or more other individuals?</span><input type="checkbox"
                                                                                                        class="form-control" name="support" />
            <br/>
            <input type="submit" value="Create Account" class="form-control btn btn-info"/>
        </form>
        <br/>
    </div>
{% endblock %}