{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}New Support Account{% endblock %}

{% block image %}{% static 'main/images/sweden2.jpg' %}{% endblock %}

{% block content %}
    <div class="card">
        <div class="container-fluid">
            <h1 class="page-header orange-header">New Support Account <br/>
            <small>Please fill out this additional information in order to create a support account</small>
            </h1>
            <form class="form-group">
                {% csrf_token %}
                <input type="tel" pattern='[\(]\d{3}[\)][\-]\d{3}[\-]\d{4}' class="form-control" placeholder="Phone number: (XXX)-XXX-XXXX"/>
                <br/>
                <input type="submit" class="form-control btn-warning" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}