
{% extends 'main/base.html' %}

{% block content %}
<div class="card">
    <div class="container-fluid">
        <!-- Main jumbotron -->
        <h1 class="page-header" style="color:orange; font-weight:200">New Profile
            <small><br/>Please fill out the following information</small>
        </h1>
        <form type="form" action="{% url 'accounts:submit_new_user' %}" method="post">
            {% csrf_token %}
            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="First Name" name="first_name"/>
                <br/>
                <input type="text" class="form-control" placeholder="Last Name" name="last_name"/>
                <br/>
                <select name="gender" class="selectpicker" data-style="form-control" data-menu-style="">

                    <option disabled selected>Gender</option>

                    <option value="Male">Male</option>

                    <option value="Female">Female</option>

                </select>
                <br/>
                <br/>
                <input class="datepicker form-control" type="text" placeholder="Birthdate - MM/DD/YYYY"
                       name="birthdate"/>
                <br/>
                <button type="submit" class="btn btn-warning">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}