{% extends 'main/base.html' %}

{% load staticfiles %}

{% block title %}{{ user.first_name }}{% endblock %}

{% block profile_link %}active{% endblock %}

{% block image %}{% static 'main/images/sweden6.jpg' %}{% endblock %}

{% block content %}
    <div class="card col-md-4">
        <div class="container-fluid">
            <h1 class="page-header orange-header">Profile <i class="fa fa-user"></i></h1>

            <div class="card">
                <div class="container-fluid">
                    <h4>Name: <span style="font-weight: lighter">{{ user.first_name }} {{ user.last_name }}</span></h4>
                    <h4>Email Address: <span style="font-weight: lighter">{{ user.email }}</span></h4>
                    <h4>Gender: <span style="font-weight: lighter">{{ user.personaluser.gender }}</span></h4>
                    <h4>Age: <span style="font-weight: lighter">{{ user.personaluser.age }}</span></h4>
                    <h4>Birthdate: <span style="font-weight: lighter">{{ user.personaluser.birthdate }}</span></h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}