{% extends 'main/base.html' %}

{% block content %}
    <div class="card col-md-4 container-fluid">
        <h1 class="page-header" style="color:orange; font-weight:200">Profile</h1>

        <div class="container-fluid">
            <h4>Name: <span style="font-weight: lighter">{{ user.first_name }}</span></h4>
            <h4>Email Address: <span style="font-weight: lighter">{{ user.email }}</span></h4>
            <h4>Gender: <span style="font-weight: lighter">{{ gender }}</span></h4>
            <h4>Age: <span style="font-weight: lighter">{{ age }}</span></h4>
            <h4>Birthdate: <span style="font-weight: lighter">{{ birthday }}</span></h4>

        </div>
    </div>
{% endblock %}