{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <title>MoodGraph</title>
    <link rel="icon" type="image/png" href="{% static 'main/assets/img/favicon.ico' %}">
    <link href="{% static 'main/css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'main/css/coming-sssoon.css' %}" rel="stylesheet"/>

    <!--     Fonts     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>

</head>

<body>
<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="mailto:acp2142@gmail.com">
                        <i class="fa fa-envelope-o"></i>
                        Email
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/MoodGraphApp">
                        <i class="fa fa-twitter"></i>
                        Twitter
                    </a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="main" style="background-image: url({% static 'main/images/sweden1.jpg' %})">
    <div class="cover orange" data-color="black"></div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">

    </div>
</div>
</body>
<script src="{% static 'main/assets/js/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'main/bootstrap3/js/bootstrap.min.js' %}" type="text/javascript"></script>

</html>