{% extends 'landing/base.html' %}

{% block content %}
    <h1 class="logo cursive">
        Sorry
    </h1>
    <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->

    <div class="content">
        <h4 class="motto">That email address has already been subscribed! Click <a style="color:orange" href="{% url 'landing:index' %}"> here</a> to try again.
        </h4>
    </div>
{% endblock %}