{% extends 'landing/base.html' %}
{% load staticfiles %}
{% block content %}
    <h1 class="logo cursive">
        <img src="{% static 'main/images/uphoros_logo.png' %}"/>
    </h1>

    <div class="content">
        <h4 class="motto">Optimizing relationships between individuals and mental health professionals to conquer
            mental illness.</h4>

        <div class="subscribe">
            <h5 class="info-text">
                Join the waiting list for the beta. We'll keep you posted.
            </h5>

            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
                    <form class="form-inline" role="form" action="{% url 'landing:subscribe' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="sr-only">Email address</label>
                            <input type="email" name="email" class="form-control"
                                   placeholder="Your email here..." style="font-size: 18px; font-weight: 400">
                        </div>
                        <button type="submit" class="btn btn-info btn-fill">Notify Me</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}