{% extends 'landing/base.html' %}

{% block content %}
    <h1 class="logo cursive">
        Success
    </h1>
    <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->

    <div class="content">
        <h4 class="motto">Thank you for joining our mailing list. We'll notify you when we have a beta available.
            Click <a style="color:orange" href="{% url 'landing:index' %}"> here</a> to return to the home page.</h4>
    </div>
{% endblock %}