{% extends 'main/base.html' %}

{% load staticfiles %}

{% block title %}Journal{% endblock %}

{% block journal_link %}active{% endblock %}

{% block image %}{% static 'main/images/sweden2.jpg' %}{% endblock %}

{% block content %}
    <div class="card col-md-8">
        <div class="container-fluid">
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <h1 class="page-header orange-header">Journal <i class="fa fa-book"></i></h1>

            <div class="container-fluid card">
                <form role="form" action="{% url 'journal:submit' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="container-fluid col-md-6">
                            <h2>
                                <small>How are you feeling {{ name }}?</small>
                            </h2>

                            <select name="mood" class="selectpicker"
                                    data-style="form-control btn-info btn-fill btn-block"
                                    data-menu-style="dropdown-blue">
                                <option value="Angry">Angry</option>
                                <option value="Anxious">Anxious</option>
                                <option value="Disgusted">Disgusted</option>
                                <option value="Guilty">Guilty</option>
                                <option value="Happy">Happy</option>
                                <option value="Hated">Hated</option>
                                <option value="Hopeful">Hopeful</option>
                                <option value="Jealous">Jealous</option>
                                <option selected value="Neutral">Neutral</option>
                                <option value="Optimistic">Optimistic</option>
                                <option value="Peaceful">Peaceful</option>
                                <option value="Sad">Sad</option>

                            </select>
                        </div>
                        <div class="container-fluid col-md-6" id="slider">
                            <h2>
                                <small>How strong is your mood?</small>
                            </h2>
                            <div class="container-fluid rating-slider">
                                <div id="slider-default" class="slider-info" name="slider"></div>
                                <input type="hidden" name="rating" value="1"/>
                            </div>
                            <br/>
                            <br/>
                            <span class="label label-info pull-left">Weak</span>
                            <span class="label label-info pull-right">Strong</span>
                            <br/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="container-fluid col-md-6">
                            <h2>
                                <small>Do you feel safe at the moment?</small>
                            </h2>
                            <div class="switch"

                                 data-on-label="<i style='font-style:normal'>Yes</i>"

                                 data-off-label="<i style='font-style:normal'>No</i>">

                                <input name="safe" type="checkbox" checked/>

                            </div>
                        </div>
                        <div class="container-fluid col-md-6">
                            <h2>
                                <small>What affected your mood today?</small>
                            </h2>
                                    <textarea name="description" class="form-control" maxlength="200"
                                              placeholder="Type here..."></textarea>
                            <br/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-fluid col-md-6">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                    <br/>
                </form>
            </div>
        </div>
    </div>
    <div class="card col-md-8">
        <div class="container-fluid">
            <h1 class="page-header orange-header">Recent Entries</h1>

            {% if entries %}
                {% for entry in entries %}
                    <div class="card">
                        <div class="content" style="">
                            <p class="description"><span class="label label-info">Mood</span> {{ entry.mood }}
                            </p>
                            {% if entry.rating != 0 %}
                                <p class="description"><span
                                        class="label label-info">Mood rating</span> {{ entry.rating }}
                                </p>
                            {% else %}
                                <p class="description"><span class="label label-info">Mood rating</span> N/A<i
                                        class="fa fa-times text-warning"></i>
                                </p>
                            {% endif %}
                            <p class="description" style="word-wrap: break-word"><span
                                    class="label label-info">Description</span> {{ entry.description }}</p>
                            {% if entry.safe %}
                                <p class="description"><span class="label label-info">Safe</span> <i
                                        class="ct-green fa fa-check-circle-o"></i></p>
                            {% else %}
                                <p class="description"><span class="label label-info">Safe</span> <i
                                        class="ct-red fa fa-times"></i></p>
                            {% endif %}

                            <div class="footer">
                                <div class="author">
                                    <span>Posted: {{ entry.date.date }}</span>
                                </div>
                                <div class="stats pull-right">
                                    <form action="{% url 'journal:delete' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" rel="tooltip" title="Remove"
                                                value="{{ entry.id }}" name="entry_id"
                                                class="btn btn-danger btn-simple btn-xs">

                                            <i class="fa fa-times"></i>

                                        </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>There are no entries to show yet.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}