.main {
    display: block;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: -10;
    -webkit-filter: brightness(80%);
}

.card {
    background-color: #fafafa;
}

.navbar .navbar-brand {
    font-weight: 600;
    margin: 5px 0px;
    padding: 20px 15px;
    font-size: 28px;
    font-family: 'Grand Hotel', cursive;
    /*font-family: 'Arial'; */
}

.orange-header {
    color: rgba(255, 196, 87, 1);
    font-weight: 200;
}

h1.moodgraph, span.moodgraph {
    font-family: 'Grand Hotel', cursive;
    /*font-family: 'Arial';*/
    color: rgba(255, 196, 87, 1);
    width: auto;
    white-space: nowrap;
}

.moodgraph i, i.moodgraph {
    font-size:85%;
    width:auto;
}

.uphoros_logo {
    position:relative;
    top:-15px;
    height:70px;
}

.about_logo{
    height:80px;
}