{% extends 'main/base.html' %}

{% load staticfiles %}

{% block title %}Graphs{% endblock %}

{% block graphs_link %}active{% endblock %}

{% block image %}{% static 'main/images/sweden3.jpg' %}{% endblock %}

{% block content %}
    <div class="card col-md-12">
        <div class="container-fluid">
            <h1 class="page-header orange-header">Graphs <i class="fa fa-line-chart"></i></h1>

            <div class="row">
                {% if ratings %}
                    <div class="col-md-6">
                        <div class="container-fluid card">
                            <h2>
                                <small>Most Recent Entries</small>
                            </h2>
                            <p style="font-size:12px; color:#454545">Mood<br/>Rating <span style="font-size:11px">(5 = most positive, -5 = most negative, 0 = neutral)</span>
                            </p>
                            <canvas id="recentChart" height="400" width="500"></canvas>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container-fluid card">
                            <h2>
                                <small>Past 7 Days</small>
                            </h2>
                            <p style="font-size:12px; color:#454545">Mood<br/>Rating <span style="font-size:11px">(5 = most positive, -5 = most negative, 0 = neutral)</span>
                            </p>
                            <canvas id="weekChart" height="400" width="500"></canvas>
                        </div>
                    </div>
                {% else %}
                    <div class="container-fluid">
                        <p>There is nothing to show here. Add entries in your mood journal first.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        var data = {
            labels: [{% for date in dates %} "{{ date }}", {% endfor %} "Date"],
            datasets: //noinspection BadExpressionStatementJS
                    [
                        {
                            label: "",
                            fillColor: "rgba(220,220,220,0.2)",
                            strokeColor: "orange",
                            pointColor: "lightblue",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(220,220,220,1)",
                            data: [{% for rating in ratings %}{{ rating  }},{% endfor %}]
                        }]
        };


        var data2 = {
            labels: [{% for date in dates2 %} "{{ date }}", {% endfor %} "Date"],
            datasets: //noinspection BadExpressionStatementJS
                    [
                        {
                            label: "",
                            fillColor: "rgba(220,220,220,0.2)",
                            strokeColor: "orange",
                            pointColor: "lightblue",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(220,220,220,1)",
                            data: [{% for rating in ratings2 %}{{ rating }},{% endfor %}]
                        }]
        };



        var options = {

            ///Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,

            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",

            //Number - Width of the grid lines
            scaleGridLineWidth: 1,

            //Boolean - Whether the line is curved between points
            bezierCurve: false,

            //Number - Tension of the bezier curve between points
            bezierCurveTension: 0.4,

            //Boolean - Whether to show a dot for each point
            pointDot: true,

            //Number - Radius of each point dot in pixels
            pointDotRadius: 6,

            //Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,

            //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius: 10,

            //Boolean - Whether to show a stroke for datasets
            datasetStroke: true,

            //Number - Pixel width of dataset stroke
            datasetStrokeWidth: 2,

            //Boolean - Whether to fill the dataset with a colour
            datasetFill: false,

            scaleOverride: true,
            scaleSteps: 10,
            scaleStepWidth: 1,
            scaleStartValue: -5,
            tooltipFillColor: "orange",
            tooltipXPadding: 6,
        };
        var ctx = $("#recentChart").get(0).getContext("2d");
        // This will get the first returned node in the jQuery collection.
        var recentChart = new Chart(ctx).Line(data, options);
        var index = 0;
        for (point in recentChart.datasets[0].points) {
            if (data.datasets[0].data[index] < 0) {
                recentChart.datasets[0].points[index].fillColor = '#FF0000';
            }
            index++;
        }
        var ctx2 = $("#weekChart").get(0).getContext("2d");
        var weekChart = new Chart(ctx2).Line(data2, options);


    </script>
{% endblock %}