{% extends 'main/base.html' %}

{% block title %}Admin{% endblock %}


{% block links %}
    <li class="active"><a href="{% url 'admin_area:index' %}">Home</a></li>
    <li><a href="{% url 'admin_area:users' %}">Users</a></li>
    <li><a href="{% url 'admin_area:subscribers' %}">Subscribers</a></li>
{% endblock %}

{% block content %}
    <div class="card container-fluid">

        <div class="container-fluid">
            <h2 class="page-header">Message all subscribers</h2>
            <form role="form" action="{% url 'admin_area:message_subscribers' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" placeholder="Subject"/>
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" name="message"
                              placeholder="Message all subscribers..."></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Send</button>
            </form>
            <br/>
        </div>
    </div>
{% endblock %}