{% extends 'main/base.html' %}


{% block links %}
    <li><a href="{% url 'admin_area:index' %}">Home</a></li>
    <li class="active"><a href="{% url 'admin_area:users' %}">Users</a></li>
    <li><a href="{% url 'admin_area:subscribers' %}">Subscribers</a></li>
{% endblock %}

{% block content %}
    <div class="card container-fluid">
        <div class="table-responsive">

            <table class="table">

                <thead>

                <tr>

                    <th class="text-center">#</th>

                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>


                </tr>

                </thead>

                <tbody>
                {% block body %}
                    {% for user in users %}

                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>{{ user.last_name }}, {{ user.first_name }}</td>
                            <td>{{ user.email }}</td>
                            <td class="td-actions">
                                <form action="/admin/users/message" method="get" style="display: inline">
                                    <button type="submit" rel="tooltip" title="Message User" value="{{ user.email }}"
                                            name="user_email"
                                            class="btn btn-success btn-simple btn-xs">

                                        <i class="fa fa-edit"></i>

                                    </button>
                                </form>

                                <form action="/admin/users/delete" method="post" style="display: inline;">
                                    <button type="submit" rel="tooltip" title="Remove"
                                            value="{{ user.id }}" name="delete_button"
                                            class="btn btn-danger btn-simple btn-xs">

                                        <i class="fa fa-times"></i>

                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}