{% extends 'main/base.html' %}

{% load staticfiles %}

{% block title %}Support{% endblock %}

{% block support_link %}active{% endblock %}

{% block image %}{% static 'main/images/sweden4.jpg' %}{% endblock %}

{% block content %}

    <div class="card col-md-8">
        <div class="container-fluid">
            <h1 class="page-header orange-header">Support Network <i class="fa fa-users"></i></h1>
            {% if supports %}
                {% for support in supports %}
                    <div class="container-fluid col-md-6">
                        <div class="card">
                            <div class="container-fluid">
                                <h4>Name: <span style="font-weight: lighter">{{ support.name }}</span></h4>
                                <h4>Relationship: <span style="font-weight: lighter">{{ support.relationship }}</span>
                                </h4>
                                <h4>Email: <span style="font-weight: lighter">{{ support.email }}</span></h4>
                                <h4>Phone Number: <span style="font-weight: lighter">{{ support.phone_number }}</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No supports to show yet, add some below.</p>
            {% endif %}
        </div>
    </div>

    <div class="card container-fluid col-md-8">
        <div class="container-fluid">
            <h1 class="page-header orange-header">Manage support network</h1>

            <div class="container-fluid card">

                <h2 class="page-header">Add a support</h2>

                <form class="form-group" action="" method="post">
                    <div class="row">
                        <div class="container-fluid col-md-12">
                            <h2>
                                <small>Do you know someone (parent, friend, therapist, etc.) with a support account
                                    who you'd like to provide your mood
                                    information
                                    to? If so, add their access code below.
                                </small>
                            </h2>
                            <input name="code" type="text" class="form-control" maxlength="15"
                                   placeholder="Access Code"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-fluid col-md-12">
                            <h2>
                                <small>What relationship does this person have with you?</small>
                            </h2>

                            <select name="relationship" class="selectpicker"
                                    data-style="form-control btn-info btn-fill btn-block"
                                    data-menu-style="dropdown-blue">
                                <option value="Parent">Parent</option>
                                <option value="Sibling">Sibling</option>
                                <option value="Friend">Friend</option>
                                <option value="Child">Child</option>
                                <option value="Therapist">Therapist</option>
                                <option value="Doctor">Doctor</option>
                            </select>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="container-fluid col-md-6">
                            <button type="submit" class="btn btn-info">Add</button>
                        </div>
                    </div>
                </form>
                <h2 class="page-header">Invite a support</h2>

                <form role="form" action="/beta/support" method="post">
                    <div class="row">
                        <div class="container-fluid col-md-6">
                            <h2>
                                <small>What relationship does this person have with you?</small>
                            </h2>

                            <select name="relationship" class="selectpicker"
                                    data-style="form-control btn-info btn-fill btn-block"
                                    data-menu-style="dropdown-blue">
                                <option value="Parent">Parent</option>
                                <option value="Sibling">Sibling</option>
                                <option value="Friend">Friend</option>
                                <option value="Child">Child</option>
                                <option value="Therapist">Therapist</option>
                                <option value="Doctor">Doctor</option>
                            </select>
                        </div>
                        <div class="container-fluid col-md-6">
                            <h2>
                                <small>What is their name?</small>
                            </h2>
                            <input name="name" type="text" class="form-control" placeholder="Name"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-fluid col-md-12">
                            <h2>
                                <small>What is their email address?</small>
                            </h2>
                            <input name="email" type="text" class="form-control" placeholder="Email Address"/>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="container-fluid col-md-6">
                            <button type="submit" class="btn btn-info">Invite</button>
                        </div>
                    </div>
                </form>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}